<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.pm2e164" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="33" />
	<application android:label="PM2E164.Android" android:theme="@style/MainTheme">
    <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"></meta-data>
      <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDG85zccb9AuSr8GyhrFXfmmB3Q0c4Gv9Y" />
    </provider>
    <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDG85zccb9AuSr8GyhrFXfmmB3Q0c4Gv9Y" />
  </application><uses-feature android:name="android.hardware.location" android:required="false" />
<uses-feature android:name="android.hardware.location.gps" android:required="false" />
<uses-feature android:name="android.hardware.location.network" android:required="false" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-feature android:name="android.hardware.location" android:required="false" />
  <uses-feature android:name="android.hardware.location.gps" android:required="false" />
  <uses-feature android:name="android.hardware.location.network" android:required="false" />
</manifest>